<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui"
	>
	
	
<h:head>
<title>Bonifico</title>
<style>
	
    .ui-grid td {
        white-space: nowrap;
        text-align: center;
    }
	
      
</style>

	
</h:head>

<h:body>
	
 
<h:form>	
      	
		
		<f:event type="preRenderView" listener="#{preventUnauthorizedAccess.checkPermission}"/>
		
		<p:growl id="growl" life="2000" />
		
		<b:commandButton icon-size="3x" iconAwesome="home" look="info" action="home.xhtml" url="home.xhtml"/>
		
		<table align = "center">
		
			<tr>
	    		<td><h:outputLabel for="ibanmittente" value="Seleziona il conto corrente: " /></td>
        		<td><p:selectOneMenu id="ibanmittente" value="#{IBANDropdown.iban}" style="width:270px">
                	<p:ajax listener="#{IBANDropdown.select}" update= "saldo" />
                	<f:selectItem itemLabel="Conto" itemValue="-1" noSelectionOption="true" />
                	<f:selectItems value="#{IBANDropdown.ibans}" />
            		</p:selectOneMenu></td>
			</tr>
			<tr>
				<td><h:outputLabel for="saldo" value="Saldo Conto: " /></td>
				<td><p:inputText readonly="true" id="saldo" value="#{IBANDropdown.saldo}" style="width:270px"/></td>
			</tr>
	 		<tr>
		    	<td><h:outputLabel for="ibandestinatario" value="IBAN destinatario: " /></td>
	       		<td><p:inputText id="ibandestinatario" value="#{bonificoBean.ibandestinatario}" style="width:270px"/></td>
			</tr>
			<tr>
		    	<td><h:outputLabel for="importo" value="Inserisci l' importo: " /></td>
	        	<td><p:inputNumber  id="importo" value="#{bonificoBean.valore}" symbol=" EUR" symbolPosition="s" 
	                               decimalSeparator="," thousandSeparator=".">
	            </p:inputNumber> </td>
			</tr>
    	
    	</table>
    	<br></br>
    	<div align="center">
        	
     		<p:commandButton value="Bonifico" id="bonifico" url="#{bonificoBean.bonifico}" action="#{bonificoBean.bonifico}" update="growl" style="margin-right:10px;" styleClass="ui-priority-primary" />
        </div>
</h:form>

</h:body>

</html>