<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<h:head>
		<title>Cambia password</title>
	</h:head>

	<h:body>
		<f:event type="preRenderView" listener="#{preventUnauthorizedAccess.checkPermission}"/>
		<ui:include src="/menu.xhtml" />
		<h:form name="input">
			
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
 			<div align="center">
    			<p>Cambia password</p>
    			<h:panelGrid columns="2" id="matchGrid" cellpadding="5" >                   
        			<h:outputLabel for="pwd1" value="Inserisci la nuova password" />
        			<p:password id="pwd1" value="#{changePasswordBean.password}" label="Password 1" />
 
        			<h:outputLabel for="pwd2" value="Ripeti Nuova password" />
        			<p:password id="pwd2" value="#{changePasswordBean.checkpassword}" label="Password 2" />
    				 
    			</h:panelGrid>
 			
    			<p:commandButton value="Cambia password" action="#{changePasswordBean.changePswUser}" url="#{changePasswordBean.changePswUser}" update="matchGrid" style="margin-right:10px;" styleClass="ui-priority-primary" />
    		</div>    
		</h:form>
	</h:body>
		
   </html>