<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>
	<title>Elenco Utenti</title>
</h:head>	

<h:body>

    <h:form id="formElencoID">

		<ui:include src="/menu.xhtml" />
		
		<p:spacer></p:spacer>
		<p:dataTable id="utenteDT" var="utente" value="#{elencoUtentiBean.listaUtenti}" emptyMessage="Nessuna utente" resizableColumns="true">
			<f:facet name="header">
		        ELENCO UTENTI
		        <p />
		    </f:facet>
		
		    <p:column headerText="ID" sortBy="#{utente.idUtente}" filterBy="#{utente.idUtente}" filterMatchMode="contains">
		        <h:outputText value="#{utente.idUtente}" />
		    </p:column>
		 
		    <p:column headerText="Nome" sortBy="#{utente.nome}" filterBy="#{utente.nome}" filterMatchMode="contains">
		        <h:outputText value="#{utente.nome}" />
		    </p:column>
		 
		    <p:column headerText="Cognome" sortBy="#{utente.cognome}" filterBy="#{utente.cognome}" filterMatchMode="contains">
		        <h:outputText value="#{utente.cognome}" />
		    </p:column>
		 
		</p:dataTable>
		
	</h:form>

</h:body>
	
</html>