<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<title>Pagina di Login</title>
	
	<style>
		
		
	</style>
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
	
</h:head>

<h:body>
	
	
	
	<h1> Pagina di Login </h1>
	
	<!-- Link Registrazione by.Bocchio -->		
	
	
	<h:form >
	<!-- Riga divisoria by.Bocchio -->	
	<hr></hr>
	
	<div style="position:absolute; top:30px; left:1395px">
		<h:panelGrid>
			
				<b:commandButton iconAwesome="user-plus" value="Registrati" look="info" action="Registrazione.xhtml" url="Registrazione.xhtml"/>
			
		</h:panelGrid>
	</div>
	
	<div align="center">
	
		<!-- Casella di testo dove immetere l'Username per il Login by.Bocchio -->
		<h:panelGrid>
		<div>
            <div style="position:absolute; top:125px; left:645px">
            	<b:inputText name="username" id="username" value="#{loginBean.username}" placeholder="Username">
            	<f:facet name="prepend">
      			<b:icon name="user" />
    			</f:facet>
    			</b:inputText>   
        	</div>
    	</div>
		
       	
       	
       	<!-- Casella di testo dove immetere la Password per il Login by.Bocchio -->
        <div style="position:absolute; top:170px; left:645px">
        	
        	<b:inputSecret placeholder="Password" value="#{loginBean.password}" id="nonFeedback">
    		<f:facet name="prepend">
      		<b:iconAwesome name="key" />
    		</f:facet>
  			</b:inputSecret>
        </div>
       
        
        <!-- Bottone per il Login by.Bocchio -->
        <div style="position:absolute; top:220px; left:725px">
        	<p:growl id="growl" life="2000" />
     		<p:commandButton action="#{loginBean.login}" url="#{loginBean.login}" value="Login" id="login" update="growl" style="margin-right:10px;" styleClass="ui-priority-primary" />
        </div>
        
         </h:panelGrid>
    </div>
    
    
	
	</h:form>
	
</h:body>

</html>