<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">
	<style type="text/css">
    i {
        margin-right: 10px;
    }
 
    .ui-grid-col-3 {
        padding: 4px 10px;
    }
	</style>
	<h:body>
		<h:form>
		    <div align="right" position="absolute" >
		    	<p:commandButton value="Logout" action="#{logoutBean.logout}" url="#{logoutBean.logout}" />
		    </div>
		    
		    <h:outputText escape="false" value="#{dinamicTitleBean.title}"  />
			
		    <p:tieredMenu >
		    
		    	<p:submenu label="Il mio Profilo" icon="pi pi-clone">
		    	
		            <p:menuitem value="I miei Dati" url="myDati.xhtml"/>
		            
		            <p:menuitem value="Cambia password" url="cambiaPsw.xhtml"/>
		            <!-- 
		            	<p:menuitem value="" />
		             -->
		        </p:submenu>
		        
		    <p:separator />  
		        <p:submenu label="Operazioni" icon="pi pi-clone">
		        
		            <p:menuitem value="Bonifico" url="bonifico.xhtml"  icon="pi pi-times" />
		            
		        </p:submenu>
				<p:submenu label="I miei conti" icon="pi pi-clone">
					<p:menuitem value="Visualizza conto" url="imieiconti.xhtml" />
					<p:menuitem  value="Registrati"/>
				</p:submenu>
		    </p:tieredMenu>
		    
		</h:form>
	</h:body>
   </html>